@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

body {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* Header */
.hr{
    display: none;
}
header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

.logo-sc {
    display: flex;
    gap: 15px;
}

.hd-ul {
    display: flex;
    gap: 32px;
}

.hd-ul li {
    list-style: none;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
}

.li-1 {
    color: rgb(254, 163, 1);
}

.li-2 {
    color: rgb(1, 172, 253);
}

.li-3 {
    color: rgb(5, 212, 223);
}

.li-4 {
    color: rgb(93, 88, 239);
}

.header-btn {
    width: 197px;
    height: 50px;
    border-radius: 12px;
    background: rgb(254, 163, 1);
    border: none;
}

/* Hamburger menu */
.hamburger {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.hamburger .bar {
    width: 30px;
    height: 4px;
    background-color: rgb(0, 0, 0);
    border-radius: 2px;
}
/* Banner Container */
.banner-con{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
   max-width: 1500px;
margin: 0 auto;
}

.banner-tit{
    font-size: 56px;
font-weight: 700;
line-height: 65px;
}
.yl{
    color: rgb(254, 163, 1);
}
.blue{
    color: rgb(1, 172, 253);
}
.banner-des{
    color: rgb(17, 17, 17);
font-size: 20px;
font-weight: 400;
line-height: 25px;
}
.banner-btn{
    width: 197px;
height: 50px;
border-radius: 12px;
background: rgb(17, 17, 17);
border: none;
color: aliceblue;
}
.dashed-line {
    border: none;             
    border-top: 3px dashed #6d6c6c; 
    margin: 20px 0;           
    opacity: 0.4;   
}




















/* Media Query for responsive design */
@media screen and (max-width: 576px) {
    .hr{
        display: block;
    }
    .hd-ul {
        display: none;  /* Hide the navigation on small screens */
        position: absolute;
        top: 60px;
        right: 0;
        background-color: #333;
        width: 100%;
        text-align: center;
        padding: 20px 0;
    }
    .header-btn , nav h4{
        display: none;
    }

    .hd-ul li {
        margin: 10px 0;
    }

    /* Show hamburger icon on mobile */
    .hamburger {
        display: flex;
    }

    /* Show menu when hamburger is clicked */
    #hamburger-icon:checked + .hd-ul {
        display: flex;
        flex-direction: column;
    }

    .banner-con{
       max-width: 357px;
    flex-direction: column-reverse;
    margin: 0 auto;
    }
    .banner-tit{
        text-align: center;
        font-size: 32px;
font-weight: 700;
line-height: 40px;
    }
    .banner-des{
        text-align: center;
       font-size: 14px;
        font-weight: 500;
        line-height: 18px;
        
    }
    .banner-btn{
        margin-left: 85px;
    }
 







}
